<mat-toolbar>
  <span>Admin Portal</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddPatientForm()" >
    PATIENT
  </button>
  <button mat-raised-button>
    Doctor
  </button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

   
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> fullName</th>
        <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> age</th>
        <td mat-cell *matCellDef="let row"> {{row.age}} </td>
      </ng-container>
  
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> dob </th>
        <td mat-cell *matCellDef="let row"> {{row.dob | date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>
  
      <ng-container matColumnDef="allergies">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> allergies</th>
        <td mat-cell *matCellDef="let row"> {{row.allergies}} </td>
      </ng-container>
  
      <ng-container matColumnDef="contactNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> contactNumber</th>
        <td mat-cell *matCellDef="let row"> {{row.contactNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="emergencyContactName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> emergencyContactName </th>
        <td mat-cell *matCellDef="let row"> {{row.emergencyContactName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="medicalHistory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> medicalHistory</th>
        <td mat-cell *matCellDef="let row"> {{row.medicalHistory}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button  color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button  color="danger" (click)="deletePatient(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
