<form class="example-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <h1>Admin Login</h1>
    <mat-form-field class="example-full-width">
      <mat-label>username</mat-label>
      <input type="username" [(ngModel)]="username" matInput [formControl]="usernameFormControl">
      @if (usernameFormControl.hasError('required'))
      {
        <mat-error>username is <strong>required</strong></mat-error>
      }
      <p>{{ username }}</p>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>password</mat-label>
        <input type="password" [(ngModel)]="password" matInput [formControl]="passwordFormControl">
        @if (passwordFormControl.hasError('required'))
        {
          <mat-error>password is <strong>required</strong></mat-error>
        }
        <p>{{ password }}</p>
      </mat-form-field>

      <section>
        <div class="example-label"></div>
        <div class="example-button-row">
          <div>
          <button (click)="onLogin()"><a routerLink="/portal">Submit</a></button>
          </div>
          <button mat-flat-button>Clear</button>
          <button mat-flat-button>Delete</button>
          
        </div>
    </section>
    </form>

    <div *ngIf = "loginFailed">Login Failed.. Please try again!!</div>
  